@import fonts
@import colors

body
    margin 0
    padding 0
    font-family Open Sans

*
    box-sizing border-box

h1
    padding 0
    margin 0

a
    text-decoration none

header
    position fixed
    height 65px
    background $white
    border-bottom 1px solid $border
    width 100%
    .container
        width 1200px
        margin 0 auto
        height inherit
        div
            display flex
            align-items center
            height inherit
        .left
            float left
        .right
            float right
            a
                color $white
                margin-right 20px
                padding 10px 14px
                background $highlight
    .button
        border-radius 3px
        font-size 18px
