doctype html
head
    meta(charset='utf8')
    link(href='/static/index.css',rel='stylesheet')
    link(href='/static/landing.css',rel='stylesheet')
body
    header
        .container
            .left
                h1.logo FocalPoint
            .right
                a.button(href='#') Signup
                a.button(href='#') Login
    div.cover-image
        div.cover-text Share images with the world

